<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>
    <application
        android:allowBackup="true"
        android:theme="@style/Theme.EsmorgaView.Starting"
        tools:targetApi="31">
        <activity
            android:name="cmm.apps.esmorga.view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="esmorga.canarte.org" android:pathPrefix="/" />
                <data android:scheme="https" android:host="qa.esmorga.canarte.org" android:pathPrefix="/" />
            </intent-filter>
        </activity>
    </application>

</manifest>